body {
  background-color: lightcoral;
}

.section {
  border: 3px solid white;
}

#silhouette {
  width: 150px;
  border-radius: 50%;
}

.employeeCard {
  display: grid;
  grid-template-columns: .5fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: left;
  padding: 1rem;
  }
  
  .employeeName {
    grid-area: 1 / 2 / 2 / 3;
  }

  .employeeTitle {
    grid-area: 2 / 2 / 3 / 3;
  }

  .employeePicture {
    grid-area: 1 / 1 / 3 / 2;
    padding-left: 1rem;
  }

  #searchBar {
    padding: .1rem;
    background-color: white;
  }

  #searchBarField {
    width: 99%
  }